.center{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    max-width: 40%;
    filter: none;
    -webkit-filter:none;
}

.bg-image {
    /* The image used */
    /* background-image: url("../assets/Zahid_nidhan.JPG"); */
  
    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-repeat: no-repeat;
    background-size: cover;
  }
  .bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
  }
  .connect{
    color: white;
    font-weight: bold;
    border: 3px solid #000;
    background-color: blue;
    position: absolute;
  }