<div id="footer" class="container align-items-center fixed-bottom">
    <footer class="flex-wrap d-flex justify-content-between align-items-center border-top py-3">
      <div class="col-md-4 d-flex align-items-center text-muted">
        <h4>
          📫 Reach out to me
          <img src="assets/arrow-right-square.svg" alt="->">
        </h4>
      </div>
      <div class="col-md-4 nav justify-content-end">
        <div class="ms-3">
          <a href="https://www.linkedin.com/in/zahid1998/" target="_blank">
            <img class ="footer-img align-middle" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/LinkedIn_logo_initials.png/800px-LinkedIn_logo_initials.png" alt="Linkedin Logo">
          </a>
        </div>
        <div class="ms-3">
          <a href="https://www.instagram.com/zahid_ansari_92" target="_blank">
            <img class="footer-img mx-auto" src="https://upload.wikimedia.org/wikipedia/commons/9/95/Instagram_logo_2022.svg" alt="Instagram Logo">
          </a>
        </div>
        <div class="ms-3">
            <a href="mailto:ansarizahid2098@gmail.com" target="_blank">
              <img class="footer-img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Gmail_icon_%282020%29.svg/800px-Gmail_icon_%282020%29.svg.png" alt="Gmail Logo">
            </a>
        </div>
      </div>
    </footer>
  </div>