<div id="games" class="container grid-container space-up text-center">
    <div *ngFor="let game of games" class="grid-item">
        <div class="card" style="width:400px">
            <img class="card-img-top" src={{game.image}} alt="Game image">
            <div class="card-body">
              <h4 class="card-title">{{game.title}}</h4>
              <p class="card-text">{{game.description}}</p>
              <a routerLink={{game.link}} class="btn btn-primary">Play</a>
            </div>
          </div>
    </div>
</div>