<nav class="navbar navbar-expand-lg bg-light fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Engineer</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" routerLink="home">About</a>
        <a class="nav-link" routerLink="projects">Projects</a>
        <a class="nav-link" routerLink="games">Games</a>
        <a class="nav-link" routerLink="">Data Structures and Algorithms</a>
      </div>
    </div>
  </div>
</nav>