<div class="intro section" id="about">
  <div class="container">
    <p>Hey, it's about Zahid Ansari</p>
    <div class="units-row units-split wrap">
      <div class="unit-20">
        <img src="assets/linkedinDP.jpg" alt="Avatar">
      </div>
      <div class="unit-80">
        <h1><br><span id="typed"></span></h1>
      </div>
      <p>
        He primarily specializes in .NET and Python stack.<br>
        Interested in tech from childhood, Zahid pursued B.Tech degree focused on Computer science.
        Having multiple certifications in C#, Angular and Python gave him an edge to deliver well-crafted software that fully meets business needs. 
        He is a passionate young Engineer that cares about creating software solutions that improve the lives of people and make a positive impact on society.
      </p>
    </div>
  </div>
</div>

<!-- Work Experience -->
<div class="work section second" id="experiences">
  <div class="container">
    <h1>Work<br>Experiences</h1>
    <ul class="work-list">
      <li>
        <a href="https://www.Sulzer.com" target="_blank">
          <h3>Sulzer</h3>
        </a> (February 2024 - Current) 
        <div> Designation: Senior Executive 
          <p>
            Working as a senior software engineer working on One-configurator, a cloud based tool built on .Net and Angular
             to simulate and optimize designing of columns used in Fluid engineering.
          </p>
        </div>
      </li>
      <li>
        <a href="https://www.Persistent.com" target="_blank">
          <h3>Persistent Systems</h3>
        </a> (June 2021 - Jan 2024) 
        <div>Designation: Software Engineer -> Senior Software Engineer
          <p>
            Joined fresh after graduation started working as a .Net backend engineer then also started picking frontend work on Angular in my first project itself.
            ZSShieldUtility a web based project that is used to generate excel based reports around the validation of data. 
            Project was completed before time and I got awarded for proactive delivery.
          </p>
          <p>
            Got assigned to a new project which required a totally different set of skills OLREP Reporting Services. 
            A windows desktop application used to generate templates and report formats to standardize lab reports.
            Worked on both UI (WPF) and backend of this project.
            <!-- Created connectors for load data from various sources - Relational DB's SQL server, Oracle and PostgreSQL along with files.  -->
          </p>
        </div>
      </li>
      <li><a href="https://Github.com/zahid92" target="_blank"><h3>OpenSource Contributions</h3></a> <a href="#">Crowdin</a></li>
    </ul>
  </div>
</div>

<!-- Award & Achievements -->
<div class="award section second" id="achievements">
  <div class="container">
    <h1>Award &amp;<br>Achievements</h1>
    <ul class="award-list list-flat">
      <li>High Five Team Award</li>
      <p>Awarded for team performance in June 2023</p>
    </ul>
    <ul class="award-list list-flat">
      <li>Bravo Individual Award</li>
      <p>Awarded for Proactive delivery in April 2022.</p>
    </ul>
  </div>
</div>

<!-- Technical Skills -->
<div class="skills section second" id="skills">
  <div class="container">
    <h1>Technical<br>Skills</h1>
    <ul class="skill-list list-flat">
      <li>Programming Languages</li>
      <li>C# / Python / C++ / Typescript</li>
    </ul>
    <ul class="skill-list list-flat">
      <li>Database</li>
      <li>MySQL / SQL Server / PostgreSQL / MongoDB</li>
    </ul>
    <ul class="skill-list list-flat">
      <li>Web Technology</li>
      <li>HTML / CSS / bootstrap / Angular</li>
    </ul>
    <ul class="skill-list list-flat">
      <li>Framework</li>
      <li>.Net Core / Entity Framework Core / .Net Framework / Angular / Flask / FastAPI </li>
    </ul>
    <ul class="skill-list list-flat">
      <li>Other</li>
      <li>Git / Github / BitBucket / Docker / Azure / AWS </li>
    </ul>
  </div>
</div>

<!-- Quote -->
<div class="quote">
  <div class="container text-centered">
    <h1>As-salamu alaykum.</h1>
  </div>
</div>