<div id="intro" class="container text-center space-up">

  <h2>Hi there!!! Its Zahid Ansari from India. 👋</h2>
  <h1>Senior Software Engineer @ Persistent Systems</h1>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">🔭 I’m currently working on .Net Core(C#), Python.</li>
    <li class="list-group-item">🌱 I’m currently learning Angular, .Net Core and Python.</li>
    <li class="list-group-item">👯 I’m looking to collaborate on Data extensive Python projects, creating and consuming
      API's.</li>
    <li class="list-group-item">💬 Ask me about Software Engineering, C#, Typescript, Python and DSA.</li>
  </ul>
  - ⚡ Fun fact: I also love playing Guitar and Singing.
  <div>
    <img src="https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExdTB1anpmOTB2aXk0ZDU1ZDc5YzN3cjJlNXpqcTloZDlhZHJyb3h6cCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/RbDKaczqWovIugyJmW/giphy.gif" alt="heavy coder">
  </div>
</div>
