.intro h1:before {
    /* Edit this with your name or anything else */
    content: 'Engineer';
}
@media only screen and (max-width: 767px) {
    .intro img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

.typed-cursor {
    opacity: 1;
    font-weight: 100;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    -ms-animation: blink 0.7s infinite;
    -o-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.intro {
    padding: 100px 0px 70px 0px;
    overflow-x: hidden;
    margin-top: 0px;
}

.intro img {
    width: 81px;
    height: 81px;
    border-radius: 109px;
}

.intro .wrap {
    margin: 30px 0px;
}

.intro h1:before {
    position: absolute;
    left: -340px;
    top: -250px;
    font-size: 252px;
    z-index: -1;
    color: #f4f4f4;
}

.intro h1 span {
    font-size: 47px;
}

.section {
    margin-bottom: 90px;
}

.container {
    margin: auto;
    max-width: 700px;
    padding: 0 20px; 
}

.section .container {
    position: relative;
}

.section .container:after {
    position: absolute;
    left: 20px;
}

.section .container h1 {
    text-transform: uppercase;
    margin-bottom: 30px;
    position: relative;
}